version: '3'
services:
  load_balancer1:
    build:
      context: ./nginx
    ports:
      - "8090:8080"
    depends_on:
      - registry
      - db
      - persistence
      - auth
      - image
      - recommender
      - webui
      - redis
    volumes:
      - ./logs/nginx/load_balancer1:/var/log/nginx
      - ./docker/load_balancer1:/usr/local/openresty/nginx/lua_scripts

  load_balancer2:
    build:
      context: ./nginx
    ports:
      - "8091:8080"
    depends_on:
      - registry
      - db
      - persistence
      - auth
      - image
      - recommender
      - webui
      - redis
    volumes:
      - ./logs/nginx/load_balancer2:/var/log/nginx
      - ./docker/load_balancer2:/usr/local/openresty/nginx/lua_scripts

  redis:
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"
      - "8001:8001"

  mysql:
    image: mysql:8.4
    ports:
      - "3307:3306"
    command: --mysql-native-password=ON --transaction-isolation=READ-COMMITTED
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rate_limit_db
    volumes:
      - ./init/init_leaky_bucket.sql:/docker-entrypoint-initdb.d/init.sql

  registry:
    image: descartesresearch/teastore-registry
    expose:
      - "8080"
    ports:
      - "8083:8080"

  db:
    image: descartesresearch/teastore-db
    expose:
      - "3306"
    ports:
      - "3306:3306"

  persistence:
    image: descartesresearch/teastore-persistence
    expose:
      - "8080"
    ports:
      - "8084:8080"
    environment:
      HOST_NAME: "persistence"
      REGISTRY_HOST: "registry"
      DB_HOST: "db"
      DB_PORT: "3306"
      LOG_TO_FILE: "true"
      LOG_PARAMETERS: "true"
    volumes:
      - ./logs/persistence:/kieker/logs/

  auth:
    image: descartesresearch/teastore-auth
    expose:
      - "8080"
    ports:
      - "8085:8080"
    environment:
      HOST_NAME: "auth"
      REGISTRY_HOST: "registry"
      LOG_TO_FILE: "true"
      LOG_PARAMETERS: "true"
    volumes:
      - ./logs/auth:/kieker/logs/

  image:
    image: descartesresearch/teastore-image
    expose:
      - "8080"
    ports:
      - "8086:8080"
    environment:
      HOST_NAME: "image"
      REGISTRY_HOST: "registry"
      LOG_TO_FILE: "true"
      LOG_PARAMETERS: "true"
    volumes:
      - ./logs/image:/kieker/logs/

  recommender:
    image: descartesresearch/teastore-recommender
    expose:
      - "8080"
    ports:
      - "8087:8080"
    environment:
      HOST_NAME: "recommender"
      REGISTRY_HOST: "registry"
      LOG_TO_FILE: "true"
      LOG_PARAMETERS: "true"
    volumes:
      - ./logs/recommender:/kieker/logs/

  webui:
    image: descartesresearch/teastore-webui
    expose:
      - "8080"
    ports:
      - "8080:8080"
    environment:
      HOST_NAME: "webui"
      REGISTRY_HOST: "registry"
      LOG_TO_FILE: "true"
      LOG_PARAMETERS: "true"
    volumes:
      - ./logs/webui:/kieker/logs/

networks:
  default:
    name: teastore-network
